/* Starting template
$primary-color: #009edc;
$secondary-color:#58595b;
$red: #d9443f;
$gray-lt: #d1d3d4;
$gray-md: #868686;

---------------------------------------------------------------------------------- */



/* /Starting template
---------------------------------------------------------------------------------- */
