/* Button and Image Links CSS STYLE UPDATES 
| move to a _topnav.scss file in modules
|*/
button, .btn {
  font-family: $theme-font--face; // 'Open Sans',Arial,Helvetica,sans-serif;
  font-size: 1.6rem;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  height: 4rem;
  padding: 10px 15px;
  transition:All .7s ease;
  border-radius: 0;
}
.btn-primary {
    color: $theme-primary-color; //#009edc;
    background-color: $white;
    border-color: $theme-primary-color;
    min-width: 150px;
    &:hover,
    &:focus {
      background-color: $theme-primary-color;
      color: $white;
    }
}
.btn-primary-gray {
    color: $gray-medium-dark; //#868686
    background-color: $white;
    border-color: $gray-medium-dark;
    min-width: 150px;
    &:hover,
    &:focus {
      background-color: $gray-medium-dark;
      color: $white;
    }
}
.btn-secondary {
    color: $gray-dark; // #868686;
    background-color: $gray-light-medium;
    border-color: $gray-light-medium; // #e6e7e8;
    min-width: 150px;
    &:hover,
    &:focus {
      background-color: $gray-dark;
      border-color: $gray-dark;
      color: $white;
    }
}
.btn-secondary-white {
    color: $gray-dark; // #868686;
    background-color: $white;
    border-color: $gray-light-medium; // #e6e7e8;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.25);
    min-width: 100px;
    &:hover,
    &:focus {
      background-color: $gray-dark;
      border-color: $gray-dark;
      color: $white;
    }
}
.primary-links1, .primary-links2 {
  display:block;
  background-color:rgba(255,255,255,0);
  color: $white;
  opacity: 1;
}
.primary-links:hover {
    background-blend-mode: darken;
    opacity: 0.8;
}
.icon-lt-blue {
  color: #80cfee;
  background: none;
  border:0;
  &:hover {
    color: $white;
  }
}
.hover-effect {
  background: rgba(255,255,255,0.3);
  color: $theme-primary-color; // #009edc;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}
//background for a badge to indicate an update or number of items
.badge {
  background-color: $theme-primary-color; // #009edc;
  border-radius: 8px;
}
//page numbering for product pages
.pager li>a, 
.pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background: $gray-light-medium; // #e6e7e8;
    border: 0px solid #ddd;
    border-radius: 0;
    color: $gray-dark; //#58595b;
}
.white-button {
  background-color: $white; // #fff;
  border: $border-gray-medium; // 1px solid #d1d3d4;
  color: $gray-medium-dark; // #868686;
}