/* Slick Slider CSS STYLE UPDATES 
| css updates for the slick slider js plugin
|*/

/*slick slide CSS */
.slick-initialized .slick-slide {
    display: block;
    padding: 0 15px;
}
.slick-slide.slick-active,
.slick-slide.slick-cloned {
    padding-right: 27px;
}
.slick-slide.slick-current {
    padding-left:10px;
}
.slick-slide.slick-current[first-child] {
  padding-left:0;
}
.slick-slide img:hover {
    cursor: pointer;
    opacity: .65;
}
button.slick-next.slick-arrow,
button.slick-prev.slick-arrow {
    display: inline-block;
    padding: 5px 14px;
    background: $gray-light-medium; // #e6e7e8;
    border: 0px solid #ddd;
    border-radius: 0;
    color: $gray-dark; //#58595b;
}
button.slick-arrow:hover {
    color: $theme-primary-color; // #009edc;
}
.slick-slide.slick-current.slick-active {
    padding-left: 0;
}

.slick-slide.slick-current.slick-active[data-slick-index="0"] {
  padding-left:5px;
}
.slick-slide {
  a {
    color:$gray-dark;
    &:hover {
      color: $theme-primary-color;
    }
  }
} 