/* Photography & Image Related CSS STYLE UPDATES 
| 
|*/
/*text over image for products */
.img-fade img {
  opacity:1;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
.img-fade:hover img {
    cursor: pointer;
    opacity: .65;
}

.product-overlay-image {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $theme-primary-color; // #009edc;
  cursor: default;
  width: 100%;
}

.pop-image-large {
  background-color: $theme-primary-color; // #009edc 
  height:auto;
  margin: auto;
  max-width: 540px;
  overflow: hidden;
  padding-bottom: 42%;
  position:relative;
  text-align:center;
  width:100%;
  &:first-child {
      float:left;
  }
  @media screen and (min-width:768px) {
    padding-bottom: 50%
  }
  @media screen and (min-width:992px) {
    height: 300px;
    padding-bottom: 0;
  }
}
.pop-image-small {
    background-color: $theme-secondary-color; // #9fcc3b;
    height: auto;
    margin: auto;
    margin-right: 0;
    max-width: 255px;
    overflow: hidden;
    padding-bottom: 64%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-align: center;
    width: 100%;
    @media (min-width:768px) {
        float:right;
        padding-bottom:74%
    }
    @media (min-width:992px) {
        float:right;
        height:300px;
        padding-bottom:0; 
    }
    @media screen and (min-width:992px) and (orientation: landscape)  {
        padding-bottom: 100%;
    }
}
.pop-image-large > a:hover,
.pop-image-small > a:hover,
.pop-image-large > a:focus,
.pop-image-small > a:focus {
  color: $white; //#fff;
  font-weight: 700;
}
.pop-image-large > a > img,
.pop-image-small > a > img {
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
    transition: opacity .25s ease-out;
  -moz-transition: opacity .25s ease-out;
  -webkit-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
  cursor: default;
}
.pop-image-large > a:hover > img,
.pop-image-small > a:hover > img{
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.link-over-image {
  position: absolute;
  margin: auto;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  color: $white; //#fff;
  height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
  cursor: default;
  > span {
     border: $border-white; //1px solid #fff;
    font-size: $theme-font--size; // 1.4rem;
    font-weight: 700;
    padding: 5px 20px;
    @media screen and (min-width:768px) {
        font-size: $theme-font--size-large; // 2.1rem;
    } 
  }
  @media screen and (min-width:768px) {
      top: 0;
  }
}