/* Sidebar Component CSS STYLE UPDATES 
| sidebar nav and design style updates */
.panel-default>.panel-heading {
    background-color: $white;
    border-color: $white;
    color: $theme-primary-color; //#009edc;
    text-transform: uppercase;
}

.panel-active>.panel-heading {
  color: $white; // #fff;
  background-color: $theme-primary-color; // #009edc;
  border-color:  $theme-primary-color; // #009edc;
  background-image: none;
}
.panel-inactive>.panel-heading {
  color: $gray-dark; //#58595b
  background-color: $gray-light-3; // #e5e5e5;
  border-color: $gray-light-3; // #ddd;
  background-image: none;
}
.panel-active {
  opacity:1;
  transform: scale(1);
  transform-origin: top left;
  transition:
      opacity 0.5s 2s,
      transform 0.5s 0.5s;
}
.panel-inactive {
  transform: scale(0.5);
  opacity:0.9;
  transform-origin: top left;
  transition:
      opacity 0.5s 2s,
      transform 0.5s 0.5s;
}
#accordion {
  .list-group {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, .075);
    box-shadow: 0 0 0 rgba(0, 0, 0, .075);
  }
  .glyphicon {
    top: -1px;
    font-weight: 300;
    font-size: 1rem;
  }
}
#accordion 
.panel-group {
  .panel {
    margin-bottom: 0;
    border-radius: 0;
    border: none;
    +.panel { //.panel-group .panel+.panel
      margin-top: 0;
      border-top: $border-gray-light-2;
    }
    .panel-title {
      color: $theme-primary-color; //#009edc;
      font-size: $theme-font--size;
      text-transform: uppercase;
      font-weight: 700;
      }
  }
} 
.panel-group .panel
.panel-title>a:hover {
    color: $theme-primary-color; //#009edc
    text-decoration: none;
}
.panel-heading {
    padding: 22px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

//category style updates for sidebar ie filters,categories, etc.
.categories-list {
    a {
      font-size: $theme-font--size-xsmall; //1.2rem;
      color: $gray-dark; //#58595b;
      text-transform: uppercase;
      font-weight: 700;
      &:hover {
        color: $theme-primary-color; //#009edc;
        text-decoration: none; //removes underline - maybe don't need
      }
    }
    .list-group-item {
      position: relative;
      display: block;
      padding: 10px 0px;
      margin-bottom: -1px;
      background-color: $white;
      border: 0;
    }
}
.input-group {
  .filter-set1 {
  list-style: none;
  padding-left: 0;
    li {
      padding: 10px 0;
    }
  }
}
