

/* ==========================================================================
   Pageflex Icon Styles
   ========================================================================== */

@font-face {
    font-family: 'pageflex';
    src:    url('../fonts/pageflex-icons.eot?5dpdie');
    src:    url('../fonts/pageflex-icons.eot?5dpdie#iefix') format('embedded-opentype'),
        url('../fonts/pageflex-icons.ttf?5dpdie') format('truetype'),
        url('../fonts/pageflex-icons.woff?5dpdie') format('woff'),
        url('../fonts/pageflex-icons.svg?5dpdie#pageflex') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'pageflex' !important;
    font-size: 2.4rem;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pf_btn_radio_selected:before {
    content: "\e900";
}
.icon-pf_btn_radio_hover:before {
    content: "\e901";
}
.icon-pf_btn_remove:before {
    content: "\e902";
}
.icon-pf_icn_collapse:before {
    content: "\e903";
}
.icon-pf_img_checkbox_hover:before {
    content: "\e904";
}
.icon-pf_img_checkbox_selected:before {
    content: "\e905";
}
.icon-pf_img_dropdown_blue:before {
    content: "\e906";
}
.icon-pf_btn_next_arrow:before {
    content: "\e907";
}
.icon-pf_btn_prv_arrow:before {
    content: "\e908";
}
.icon-pf_icn_expand:before {
    content: "\e909";
}
.icon-pf_icn_info_active:before {
    content: "\e90a";
}
.icon-pf_icn_menu:before {
    content: "\e90b";
}
.icon-pf_icn_upload_blue:before {
    content: "\e90c";
}
.icon-pf_icn_cart:before {
    content: "\e90d";
}
.icon-pf_icn_delete:before {
    content: "\e90e";
}
.icon-pf_icn_download:before {
    content: "\e90f";
}
.icon-pf_icn_hide_files:before {
    content: "\e910";
}
.icon-pf_icn_notifications:before {
    content: "\e911";
}
.icon-pf_icn_rename:before {
    content: "\e912";
}

