<!--Custom users footer, overriding core footer -->

<footer class="source_footer">
    <div class="source_col-main">
        <div class="source_col">
            <h2>Development Resources</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="https://sourcejs.com">SourceJS Resources (this framework)</a></li>
                <li><a class="source_a_l" href="http://getbootstrap.com/css/">Bootstrap CSS Documentation</a></li>
                <li><a class="source_a_l" href="https://nodejs.org/dist/latest-v4.x/docs/api/">Node.js 4.x API</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Navigation</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="/docs">Documentation</a></li>
                <li><a class="source_a_l" href="/specs">Specs</a></li>
            </ul>
        </div>
        <div class="source_col">
            <h2>Useful links</h2>
            <ul class="source_ul">
                <li><a class="source_a_l" href="https://github.com/sourcejs/Source">Fork SourceJS on Github</a></li>
                <li><a class="source_a_l" href="http://sourcejs.com/specs/">Spec examples</a></li>
            </ul>
        </div>
        <div class="source_col source_col__23">
            <div class="source_footer_copy">
                <sup>©</sup> 2013-<script type="text/javascript">
  document.write(new Date().getFullYear());
</script> Pageflex. All rights reserved.<p class="small">Documentaton framework provided by - <a href="http://sourcejs.com" class="source_a_l">Sourcejs.com</a> <span class="source_footer_version">(v.<%- engineVersion %>)</span></p>
            </div>
        </div>
    </div>
</footer>

