/* Utility CSS STYLE UPDATES 
| some utility helper classes 
|*/

.right-align {
  float: right;
}

.strong-text {
  font-weight: 700;
}

.collapse {
  transition: background linear .25s;
}
.hover-effect {
  background: rgba(255,255,255,0.3);
  color: $theme-primary-color;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}
.pad-title-align-to-sidebar {
  padding-top: 40px;
}
  .overlay {
    overflow: hidden;
  }
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
    background-color: #009edc;
    background-image: none;
    color: #fff;
}
  
  